body{
    color: white;
    background-color: #A5B4FC;
}

input{
    display: block;
    padding: 0.7rem 3rem;
    font-size: large;
    margin: 2rem auto;
}
button{
    display: block;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    font-size: large;
}
label{
    text-align: center;
    display: block;
    margin: 2rem auto;
    font-size: 24px ;
}
h2{
    text-align: center;
    margin-top: 4rem;
    font-size: 30px;
}
p{
text-align: center;
margin: 2rem auto;
font-size: 24px;

}

img{
    max-width: 300px;
    display: block;
    margin: auto;
 
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}













